@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

ng\:form {
    display: block;
}

body {
    background-color: #eee;
    font-family: 'Actor', sans-serif;
    background: rgba(80, 198, 175, 0.70);
    color: #444;
}

.spacer {
    margin-top: 50px;
}

.center {
    text-align: center;
}

#countdown {
    margin-bottom: 50px;
}

#countdown h1 {
    font-size: 4em;
}

#countdown .time-unit {
    font-size: 24px;
}

@font-face {
    font-family: 'Actor';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/DroidSansMono.ttf');
}

.actionbar {
    position: absolute;
    bottom: 0.25em;
    right: 0.25em;
}

.actionbar a {
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

.typeahead ul {
    max-height: 150px;
    border: 1px solid #333;
    padding: 3px;
    overflow: auto;
}

.break .container {
    width: 700px;
    height: 500px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}


.countdown {
    font-size: 20px;
}

.countdown #countdown {
    margin-bottom: 10px;
}

.countdown #countdown .time-unit {
    font-size: 16px;
}
