@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

ng\:form {
    display: block;
}

body {
    height: 250px;
    width: 500px;
    font-family: 'Actor', sans-serif;
    background: #16a085;
    color: #FFF;
}

h1, h2, h3, h4, h5 {
    text-shadow: #777 1px 1px;
}

.btn {
    color: #333;
}

.btn.btn-primary,
.btn.btn-danger {
    color: #FFF;
}

.spacer {
    margin-top: 50px;
}

.center {
    text-align: center;
}

#countdown {
    margin-bottom: 50px;
}

#countdown h1 {
    font-size: 4em;
}

#countdown .time-unit {
    font-size: 24px;
}

@font-face {
    font-family: 'Actor';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/DroidSansMono.ttf');
}

.actionbar {
    position: absolute;
    bottom: 0.25em;
    right: 0.25em;
}

.actionbar a {
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

.typeahead ul {
    max-height: 150px;
    border: 1px solid #333;
    padding: 3px;
    overflow: auto;
}

.break .container {
    width: 700px;
    height: 500px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.settings .container {
    width: 700px;
    height: 500px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

.form-control {
    width: initial;
}

.form-group label {
    display: block;
}

input.form-control {
    display: inline-block;
}

.form-control.checkbox {
    width: 17px;
    height: 17px;
}

.form-control.min-input {
    width: 75px;
}

.alert.save-alert {
    width: 400px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}
