<!doctype html>
<html data-ng-app="myApp" data-ng-csp="">
    <head>
        <meta charset="UTF-8">
        <title>Break Time</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body class="countdown">
        <div class="container">
            <div data-ng-controller="CountdownCtrl">
                <div>
                    <h4>Break starting in...</h4>
                    <div id="countdown" class="center">
                        <div ng-show="countdown">{{ countdown.hours | digits:2 }}<span class="time-unit">h</span> : {{ countdown.minutes | digits:2 }}<span class="time-unit">m</span> : {{ countdown.seconds | digits:2 }}<span class="time-unit">s</span> </div>
                        <div ng-hide="countdown">
                            ...
                        </div>
                    </div>
                    <div class="center">
                        <button type="button" class="btn btn-danger" ng-click="skip()">
                            Skip
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="start()">
                            Start
                        </button>
                    </div>
                </div>
                <div class="actionbar">
                    <a class="glyphicon glyphicon-cog" ng-click="launchSettings()"></a>
                </div>
            </div>
        </div>
        <script src="../js/vendor/angular.min.js"></script>
        <script src="../js/vendor/angular-route.min.js"></script>
        <script src="../js/vendor/moment.min.js"></script>
        <script src="../js/vendor/countdown.min.js"></script>
        <script src="../js/vendor/moment-countdown.min.js"></script>
        <script src="../js/countdown.js"></script>
    </body>
</html>
