<!doctype html>
<html data-ng-app="BreakTime" data-ng-csp="">
  <head>
    <meta charset="UTF-8">
    <title>Break Timer</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <div data-ng-controller="PopupCtrl">
        <style>
body {
  background: {{ backgroundColor }};
  color: {{ textColor }};
}
        </style>

        <div ng-hide="outsideWorkingHours">
          <div ng-show="alarm.alarm">
            <h3>Next break in:</h3>
            <div id="countdown" class="center">
              <h1 ng-show="countdown">{{ countdown.hours | digits:2 }}<span class="time-unit">h</span> : {{ countdown.minutes | digits:2 }}<span class="time-unit">m</span> : {{ countdown.seconds | digits:2 }}<span class="time-unit">s</span> </h1>
              <h1 ng-hide="countdown">
                ...
              </h1>
            </div>
            <div class="center">
              <button type="button" class="btn btn-danger" ng-click="toggleBreaksOn()">
                Disable Breaks
              </button>
            </div>
          </div>

          <div ng-hide="alarm.alarm">
            <h3>Breaks currently disabled</h3>
            <div class="spacer"></div>
            <div class="center">
              <button type="button" class="btn btn-primary" ng-click="toggleBreaksOn()">
                Enable Breaks
              </button>
            </div>
          </div>
        </div>

        <div ng-show="outsideWorkingHours">
          <div class="spacer"></div>
          <div class="center">
            <h2>Outside of working hours</h2>
          </div>
        </div>

        <div class="actionbar">
          <a class="glyphicon glyphicon-cog" ng-click="openSettings()" ng-show="outsideWorkingHours" href="#"></a>
          <ul class="dropup" ng-hide="outsideWorkingHours">
            <li class="dropdown">
              <a class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" href="#"></a>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li ng-click="restartBreak()"><a href="#">Restart countdown</a></li>
                <li ng-click="startBreak()" ng-hide="notificationType !== 'F'"><a href="#">Start break now</a></li>
                <li ng-click="openSettings()"><a href="#">Options</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="../js/vendor/jquery.min.js"></script>
    <script src="../js/vendor/bootstrap.min.js"></script>
    <script src="../js/vendor/angular.min.js"></script>
    <script src="../js/vendor/moment.min.js"></script>
    <script src="../js/vendor/countdown.min.js"></script>
    <script src="../js/vendor/moment-countdown.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
