<!doctype html>
<html data-ng-app="BreakTime" data-ng-csp="">
    <head>
        <meta charset="UTF-8">
        <title>Break Timer - Settings</title>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body class="settings">
        <div class="container">
            <div data-ng-controller="SettingsCtrl">
                <div class="alert alert-info save-alert" ng-show="showSaveConfirm">
                    Changes saved successfully
                </div>
                <h1>Break Timer - Settings</h1>
                <div class="spacer"></div>
                <form name="settingsForm" ng-submit="save()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="break-frequency">Notify me with</label>
                                <select
                                    class="form-control"
                                    ng-options="item as item.name for item in values track by item.id"
                                    ng-model="selected"
                                    ng-change="selectNotify()"
                                ></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3>Break Settings</h3>
                            <div class="form-group">
                                <label for="break-frequency">Break frequency</label>
                                <input type="text" id="break-frequency" class="form-control min-input"
                                    ng-model="config.frequency" required/> <span>minutes</span>
                            </div>
                            <div class="form-group" ng-show="config.notificationType === 'F'">
                                <label for="break-frequency">Break length</label>
                                <input type="text" id="break-length" class="form-control min-input"
                                    ng-model="config.length" required/> <span>minutes</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Working Hours</h3>
                            <div class="form-group">
                                <label for="working-hours-enabled">Enable working hours</label>
                                <input type="checkbox" id="working-hours-enabled"
                                class="form-control checkbox" ng-model="config.workingHoursEnabled"/>
                            </div>
                            <div class="form-group" ng-show="config.workingHoursEnabled" ng-class="{ 'has-error' : !checkOrder() }">
                                <label for="breaks-from">Breaks from</label>
                                <input type="time" id="breaks-from" class="form-control time-input"
                                    ng-model="workingHoursFrom" ng-change="workingHoursFromChanged()"
                                    required/>
                            </div>
                            <div class="form-group" ng-show="config.workingHoursEnabled" ng-class="{ 'has-error' : !checkOrder() }">
                                <label for="breaks-to">Breaks to</label>
                                <input type="time" id="breaks-to" class="form-control time-input"
                                    ng-model="workingHoursTo" ng-change="workingHoursToChanged()"
                                    ng-valid="workingHoursTo > workingHoursFrom" required/>
                                <span class="help-block" ng-show='!checkOrder()'>Breaks from must be earlier than breaks to</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3>Idle Reset</h3>
                            <div class="form-group">
                                <label for="idle-reset-enabled">Reset countdown after being idle</label>
                                <input type="checkbox" id="idle-reset-enabled"
                                class="form-control checkbox" ng-model="config.idleResetEnabled"/>
                            </div>
                            <div class="form-group" ng-show="config.idleResetEnabled">
                                <label for="idle-reset-minutes">Reset countdown when idle for</label>
                                <input type="text" id="idle-reset-minutes" class="form-control min-input"
                                    ng-model="config.idleResetMinutes"/> <span>minutes</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="spacer"></div>
                        <input class="btn btn-primary" type="submit" value="Save" ng-disabled="!settingsForm.$valid || !checkOrder()"/>
                    </div>
                </form>
            </div>
        </div>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css'>
        <script src="../js/vendor/angular.min.js"></script>
        <script src="../js/vendor/angular-ui.js"></script>
        <script src="../js/vendor/moment.min.js"></script>
        <script src="../js/vendor/countdown.min.js"></script>
        <script src="../js/vendor/moment-countdown.min.js"></script>
        <script src="../js/app.js"></script>
    </body>
</html>
